#spawning-admin-panel {
    font-family: sans-serif;
    background-color: $background-color;

    h1,
    h3,
    p {
        margin: 0;
        color: $primary-color;
    }

    .wrapper {
        padding: 40px;
    }

    .section {
        margin: 20px 0;
    }

    .wrapper {
        margin: 0 auto;
        max-width: 1000px;
    }

    .divider {
        height: 2px;
        width: auto;
        background-color: $divider-color;
        margin: 16px 0;
    }

    .headerWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .headerBlurb {
        letter-spacing: 1px;
        line-height: 20px;
        font-size: 14px;
    }

    .titleWrapper {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .logo {
        height: 30px;
    }

    .share-links {
        display: flex;
        align-items: center;
        gap: 16px;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .share-logo {
        height: 15px;

    }

    .download-logo {
        height: 20px;
        padding-right: 6px;
    }

    .consent-div {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
    }

    .option-span {
        font-size: 18px;
        display: flex;
        align-items: center;
    }

    .preview-link {
        float: right;
        line-height: 38px;
    }

    .options-table {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .ccLink {
        padding-left: 16px;
    }

    .content {
        width: 350px;
        height: 217px;
    }

    #go-to-options {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $action-color;
        font-size: 18px;
    }

    #spawning-admin-panel {
        display: grid;
        place-items: center;
        height: 100%;
    }

    #main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .record-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .record-card {
        width: 250px;
        height: 250px;
        margin: 10px;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
      }

      .report-link {
        position: absolute;
        padding-left: 180px;
        padding-top: 180px;
        font-size: 28px;
        color: #6f80ff;
      }
      
      /* Media query for responsiveness */
      @media (max-width: 768px) {
        .record-card {
          width: 100%;
        }
      }
      
      /* Your specific styles here */
      
      #status_message {
        width: 100%;
        text-align: right;
      }

      #searching {
        position: fixed;
        bottom: 8px;
        right: 8px;
      }

      .record-card {
        font-size: 16px;
        display: flex;
      }
      
      .record-card img {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
      
      .record-card a {
        display: inline-flex;
        align-items: center;
      }
}