.optionsPageWrapper {
  padding: 40px;
  margin: 0 auto;

  a {
    color: #000;
    font-size: 14px;
  }
}

.headerWrapper {
  display: flex;
  justify-content: center;
}

.description {
  font-size: 16px;
  line-height: 120%;

  a {
    color: #000;
    text-decoration: none;
  }
}

.searchHistoryContainer {
  row-gap: 20px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 5px;
}

// /* Media query for responsiveness */
// @media (max-width: 768px) {
//   .searchHistoryContainer {
//     // grid-template-columns: repeat(auto-fit, 200px);
//     row-gap: 20px;
//     gap: 20px;
//   }
// }
