.recordCardWrapper {
  margin-top: 16px;
  padding: 12px 24px;
  border: 1px solid #eaecf0;
  border-radius: 8px;
}

.recordCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.reportLink {
  position: absolute;
  padding-left: 180px;
  padding-top: 180px;
  font-size: 28px;
  color: #6f80ff;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.iconLabelWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}

.divider {
  height: 1px;
  background-color: #eaecf0;
  padding: 0 24px;
  width: 100%;
}

.results {
  font-size: 16px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .recordCard {
    width: 100%;
  }
}
