.wrapper {
  padding: 20px;
  width: 367px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding: 0 16px 16px 16px;
  text-align: center;
}

.infoButton {
  background-color: transparent;
  border: none;
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding: 16px 0;

  .text {
    margin: 0;
    font-size: 14px;
  }
}

.inspectButton,
.saveButton,
.viewResultButton {
  background-color: #3f55ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #efefef;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #bababa;
  font-size: 16px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.configAndButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.configureButton {
  background: transparent;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  font-size: 16px;
  padding-top: 16px;

  &:hover {
    cursor: pointer;
  }
}

.statusMessage {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.recordWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
