.optionsPageWrapper {
  padding: 40px;
  margin: 0 auto;

  a {
    color: #000;
    font-size: 14px;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

  h2 {
    font-size: 28px;
  }
}

.headerWrapper {
  display: flex;
  justify-content: center;
}

.upperPartWrapper {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  font-size: 16px;
  line-height: 120%;

  a {
    color: #000;
    text-decoration: none;
  }
}

.searchLogHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearSearchHistoryButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 14px;
  gap: 4px;

  svg {
    transform: scale(0.8);
  }

  &:hover {
    cursor: pointer;
  }
}

.searchHistoryContainer {
  row-gap: 20px;
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;
  border-bottom: 1px solid #d1d1d1;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.footer {
  margin-top: 100px;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  a {
    font-size: 20px;
  }
}

.footerSpawningLogo {
  margin-top: 62px;
  text-align: center;
  svg {
    width: 250px;
  }
}
